<form class="{{cssClass}} my-item-sheet" autocomplete="off">
  <header class="sheet-header flexrow">
    <div class="header-fields">
      <label>Nombre del objeto</label>
      <input type="text" name="name" value="{{item.name}}"/>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">Detalles</a>
    <a class="item" data-tab="description">Descripción</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-tab="details" data-group="primary">
      <div class="grid two-col">
        {{#if (or isConsumable isGear)}}
          <div class="field">
            <label>Cantidad</label>
            <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" min="0"/>
          </div>
        {{/if}}

        {{#if (or isConsumable isGear isEquipment)}}
          <div class="field">
            <label>Valor</label>
            <input type="number" name="system.value" value="{{system.value}}" data-dtype="Number" min="0" step="1"/>
          </div>
        {{/if}}

        {{#if isTrait}}
          <div class="field full-width">
            <p class="notes">Los rasgos solo requieren un nombre y su efecto.</p>
          </div>
        {{/if}}
      </div>
    </div>

    <div class="tab" data-tab="description" data-group="primary">
      {{#if isGear}}
        <div class="field">
          <label>Descripción</label>
          <textarea name="system.description" rows="5">{{system.description}}</textarea>
        </div>
      {{/if}}

      {{#if (or isConsumable isEquipment isTrait)}}
        <div class="field">
          <label>Efecto</label>
          <textarea name="system.effect" rows="5">{{system.effect}}</textarea>
        </div>
      {{/if}}
    </div>
  </section>
</form>
